<div class="slide">
    <div class="b"><img class="c" src="assets/test1.jpg"></div>
    <div class="b"><img class="c" src="assets/test2.jpg"></div>
    <div class="b"><img class="c" src="assets/test3.jpg"></div>
</div>